<div class="form_item">
	<div class="body">
		<%= form_for @album_de_foto, :html => {:multipart => true} do |f| %>
		
			<p><%= f.label :nome %><br />
				<%= f.text_field :nome %></p>

  	    	<%= f.submit "Criar" %>
		<% end %>
	</div>
</div>

