<div class="item">
	<div class="title"><small>12º EENGE</small> <span class="azul">Fotos</span></div>	

		<% @album_de_fotos.each do |album_de_foto| %>

			<div class="body">
				<div class="titulo_imagem center"><%= album_de_foto.nome %></div>
				<br />
				<br />
				<% album_de_foto.fotos.each do |foto| %>
					<div class="imagem">
						<%= link_to image_tag(foto.pic.url, :size => '130x80'), foto, :class => "patrocinador"  %>						
					<br />
					
					<% if current_user.try(:admin) %>
						<%= link_to "apagar", foto, :method => :delete, :confirm => 'Deseja realmente apagar?'%>
					<% end %>							
					</div>
				<% end %>

				<% if current_user.try(:admin) %>
				<div class="center">
				  <tr>
 
					<td><%= link_to 'renomear', edit_album_de_foto_path(album_de_foto) %></td> |
				   <td><%= link_to 'apagar álbum', album_de_foto, :confirm => 'Deseja realmente apagar?', :method => :delete %></td>
				  </tr>
				</div>
				<% end %>
			</div>
		<% end %>


		<div class="body">
		<% if current_user.try(:admin) %>
			<%= link_to 'Novo Álbum', new_album_de_foto_path %> 
			<% if AlbumDeFoto.all.length > 0 %>
			| <%= link_to 'Nova Foto', new_foto_path %>
			<% end %>
		<% end %>
		</div>
</div>

