<% if current_user.try(:admin) %>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
				:html => { :method => :put }) do |f| %>				
	  <%= devise_error_messages! %>


		<div class="form_item">
			<h3>Dados do Login</h3>

			<p><%= f.label :nome %><br />
			<%= f.text_field :nome %></p>

			<p><%= f.label :cpf, "CPF" %><br />
			<%= f.text_field :cpf, :onkeypress => "formatar('###.###.###-##', this)", :size => '16' %></p>
		
			<div class="body">
				<p><%= f.label :email, "E-mail" %><br />
				<%= f.email_field :email %></p>

				<p><%= f.label :password, "Senha" %>
				<%= f.password_field :password %></p>

				<p><%= f.label :password_confirmation, "Confirme a Senha" %><br />
				<%= f.password_field :password_confirmation %></p>
				
				<br />
				<p><%= f.label :current_password, "Senha Atual" %>
					<%= f.password_field :current_password %></p>
					<i class="hint">(digite sua senha atual para aplicar as mudanças)</i><br />
			</div>
			<br />
	  <p><%= f.submit "Atualizar dados" %></p>		
		</div>			

	<% end %>

<% elsif !current_user.inscricao_pagavel? %>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
				:html => { :method => :put }) do |f| %>				
	  <%= devise_error_messages! %>


		<div class="form_item">
			<h3>Login</h3>
		
			<div class="body">
				<p><%= f.label :email, "E-mail" %><br />
				<%= f.email_field :email %></p>

				<p><%= f.label :password, "Senha" %>
				<%= f.password_field :password %></p>

				<p><%= f.label :password_confirmation, "Confirme a Senha" %><br />
				<%= f.password_field :password_confirmation %></p>
	
					<br />
				<p><%= f.label :current_password, "Senha Atual" %>
					<%= f.password_field :current_password %></p>
					<i class="hint">(digite sua senha atual para aplicar as mudanças)</i><br />
			</div>
			<br />
	  		<p><%= f.submit "Atualizar dados" %></p>		
		</div>			


	<% end %>

<% else %>
  
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), 
			:html => { :method => :put }) do |f| %>				
  <%= devise_error_messages! %>

	<div class="form_item">
		<h3>Inscrição</h3>	
						
		<div class="body">
			<p><%= f.label :tipo_inscricao, "Tipo de Inscrição" %><br />
			<%= f.select :tipo_inscricao, tipos_de_inscricao, :id => "mySelect" %></p>

			<p id="instituicao"><%= f.label :instituicao, "Instituição/ Universidade" %>
			<%= f.text_field :instituicao %><br /></p>

		</div>
	</div>


	<div class="form_item">
		<div class="title">
			<h3>Dados Pessoais</h3>	
		</div>

		<div class="body">
			<p><%= f.label :nome %><br />
			<%= f.text_field :nome %></p>

			<p><%= f.label :sexo %><br />
			<%= f.select :sexo, ["Masculino", "Feminino"], :include_blank => true %></p>

			<p><%= f.label :data_nascimento %><br />
			<%= f.date_select :data_nascimento, :start_year => 2000, :end_year => 1900, :include_blank => true,  
							:order => [:day, :month, :year], :use_month_numbers => true %></p>

			<p><%= f.label :cpf, "CPF" %>
			<%= f.text_field :cpf, :onkeypress => "formatar('###.###.###-##', this)", 
											:maxlength => "14", :size => '16' %></p>

			<p><%= f.label :logradouro %><br />
			<%= f.text_field :logradouro %></p>

			<p><%= f.label :bairro %><br />
			<%= f.text_field :bairro %></p>

			<p><%= f.label :cidade %><br />
			<%= f.text_field :cidade %></p>

			<p><%= f.label :estado, "Estado (UF)" %><br />
			<%= f.select :estado, estados, :include_blank => true %></p>


			<p><%= f.label :cep, "CEP" %>
			<%= f.text_field :cep, :onkeypress => "formatar('#####-###', this)",
			 							  :maxlength => "9", :size => "10"%></p>

			<p><%= f.label :telefone %>
			<%= f.text_field :telefone, :onkeypress => "formatar('## ####-####', this)", 
												 :maxlength => "12", :size => "13" %></p>
		</div>
	</div>
	
	
	<div class="form_item">
		<div class="title"><h3>Dados do Login</h3></div>

		<div class="body">
			<p><%= f.label :email, "E-mail" %><br />
			<%= f.email_field :email %></p>

			<p><%= f.label :password, "Senha" %>
			<%= f.password_field :password %></p>

			<p><%= f.label :password_confirmation, "Confirme a Senha" %><br />
			<%= f.password_field :password_confirmation %></p>
	
					<br />
			<p><%= f.label :current_password, "Senha Atual" %>
				<%= f.password_field :current_password %></p>
				<i class="hint">(digite sua senha atual para aplicar as mudanças)</i><br />
		</div>
		<br />
  <p><%= f.submit "Atualizar dados" %></p>		
	</div>			


<% end %>

<div class="item">
	<%= link_to "Cancelar Inscrição", registration_path(resource_name), :confirm => "Tem certeza?", :method => :delete %>.</p>

</div>

<% end %>

<% content_for :script do %>
	<script>
	function formatar(mascara, documento){
	  var i = documento.value.length;
	  var saida = mascara.substring(0,1);
	  var texto = mascara.substring(i)

	  if (texto.substring(0,1) != saida){
	            documento.value += texto.substring(0,1);
	  }

	}
	</script>
<% end %>



