<% if Inscricao.any? %>
	<% if Inscricao.aberta? %>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>

					<div class="form_item">
						<h3>Inscrição</h3>
						
						<div class="body">
							<p><%= f.label :tipo_inscricao, "Tipo da Inscrição"%>
								<%= f.select :tipo_inscricao, tipos_de_inscricao, :include_blank => true %><br /><br />
							<li class="vermelho">Estudantes UENF e IFF devem fazer a inscrição diretamente com a Comissão Organizadora para pagarem o valor com desconto (R$ 30,00).</li></p>
							
							<p><%= f.label :instituicao, "Instituição/ Universidade" %>
							<%= f.text_field :instituicao %><br />
							<li class="cinza">Não necessário preencher caso tenha escolhido a opção 'Estudante UENF'</li></p>
						</div>
					</div>
	
					<div class="form_item">
						<h3>Dados Pessoais</h3>	
	
						<div class="body">
							<br />
							<i class="cinza">* Todos os campos são obrigatórios</i>
							
							<p><%= f.label :nome %>
							<%= f.text_field :nome %></p>

							<p><%= f.label :sexo %>
							<%= f.select :sexo, ["Masculino", "Feminino"], :include_blank => true %></p>

							<p><%= f.label :data_nascimento %>
							<%= f.date_select :data_nascimento, :start_year => 2000, :end_year => 1900, :include_blank => true,  
											:order => [:day, :month, :year], :use_month_numbers => true %></p>

							<p><%= f.label :cpf, "CPF" %>
							<%= f.text_field :cpf, :onkeypress => "formatar('###.###.###-##', this)", 
															:maxlength => "14", :size => '16' %></p>

							<p><%= f.label :logradouro %>
							<%= f.text_field :logradouro %></p>

							<p><%= f.label :bairro %>
							<%= f.text_field :bairro %></p>

							<p><%= f.label :cidade %>
							<%= f.text_field :cidade %></p>

							<p><%= f.label :estado, "Estado (UF)" %>
							<%= f.select :estado, estados, :include_blank => true %></p>

							<p><%= f.label :cep, "CEP" %>
							<%= f.text_field :cep, :onkeypress => "formatar('#####-###', this)",
							 							  :maxlength => "9", :size => "10"%></p>

							<p><%= f.label :telefone %>
							<%= f.text_field :telefone, :onkeypress => "formatar('## ####-####', this)", 
																 :maxlength => "12", :size => "13" %>
							<span class="cinza">ex.: 01 2345-6789</span></p>
														
						</div>
					</div>
						
					<div class="form_item">
						<h3>Login</h3>
		
						<div class="body">
							<p><%= f.label :email, "E-mail" %>
							<%= f.text_field :email, :label => "E-mail" %></p>
				
							<p><%= f.label :password, "Senha" %>
							<%= f.password_field :password %></p>
			
							<p><%= f.label :password_confirmation, "Confirme a Senha"%>
							<%= f.password_field :password_confirmation %></p>
						</div>
					</div>
	
					<p class="center"><%= f.submit "Inscrever-se" %></p>
		
				<% end %>

			<% content_for :script do %>
				<script>
				function formatar(mascara, documento){
				  var i = documento.value.length;
				  var saida = mascara.substring(0,1);
				  var texto = mascara.substring(i)

				  if (texto.substring(0,1) != saida){
				            documento.value += texto.substring(0,1);
				  }

				}
				</script>
			<% end %>

	<% else %>
		<div class="item">
			<div class="body">
				<h3>As inscrições não estão abertas.</h3>
			</div>
		</div>
	<% end %>
<% else %>
  	<div class="item">
		<div class="body">
			<h3>Defina a data de início das inscrições.</h3>
		</div>
	</div>
<% end %>