<div class="item">
	<div class="body">
		<h4>Editar data de inicio das inscrições</h4>
		
		<p><strong>Data Atual</strong>: <%= @inscricao.data_inicio.strftime("%H:%M %d%m%Y") %></p>
		<%= form_for @inscricao do |f| %>
			<p><%= f.label :data_inicio %>
			<%= f.date_select :data_inicio, :order => [:day,:month,:year] %></p>
						
			<p><%= f.label :data_termino %>
			<%= f.date_select :data_termino, :order => [:day,:month,:year] %></p>						
			<%= f.submit "Marcar" %>
		<% end %>
	</div>
</div>
