<div class="item">
	<div class="body">
		<h3>Data de inicio das inscrições</h3>

		<% if @inscricao.present? %>
		<p><strong>Data Atual</strong>: de <%= @inscricao.data_inicio.strftime("%H:%M %d/%m/%Y") %> <strong>até</strong> <%= @inscricao.data_termino.strftime("%H:%M %d/%m/%Y") %></p>
		
		<h4>Editar</h4>
		<% end %>
		
		<%= form_for @inscricao do |f| %>
		<p><%= f.label :data_inicio %>
		<%= f.datetime_select :data_inicio, :order => [:day,:month,:year] %></p>
					
		<p><%= f.label :data_termino %>
		<%= f.datetime_select :data_termino, :order => [:day,:month,:year] %></p>						
		<%= f.submit "Marcar" %>		
		
		<% end %>
	</div>
</div>
