Olá, <%= @user.nome %>

Sua inscrição no 12o EENGE foi criada, mas ainda está pendente de confirmação. Confirmaremos sua inscrição assim que o PagSeguro nos informar sobre o seu pagamento.

Quando sua inscrição for confirmada, você receberá outro email e poderá visualizar sua ficha de inscrição em nosso site.

Visite: <%= @url %> 