<div class="item">
	<div class="title">Contato</div>
	
	<div class="body">
		<% form_for @contato, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
		  <p><%= f.label "Nome" %><br />
		    <%= f.text_field :sender_name %></p>
		
		  <p><%= f.label "Email" %><br />
		    <%= f.text_field :email %></p>
		  
			<p><%= f.label "Mensagem" %><br />
		    <%= f.text_area :mensagem %></p>
		
		  <p><%= f.submit "Enviar" %></p>
		<% end %>
	</div>
</div>