<div class="item">
	<div class="title">Novo Patrocinador</div>
</div>
<div class="form_item">
	<div class="body">
	<%= form_for @patrocinador, :html => {:multipart => true} do | f | %>
		<i class="hint">Faça o upload da imagem <%= link_to "aqui", "http://imageshack.us/" %> e copie o 'Direct Link' que irá aparecer. Pra isso você precisa logar no site antes: 'eengeciv@hotmail.com' 'eenge12'</i>
		<p><%= f.label :link_imagem, "Link da Imagem" %>
		<%= f.text_field :link_imagem %>
		<i class="hint">*A imagem deve ter até 170 pixels de largura</i></p>
	
			<p><%= f.label :site %>
			<%= f.text_field :site %>
			<i class="hint">*Obrigatório colocar 'http://' antes</i></p>
		
			<p><%= f.label :tipo %>
		<%= f.select :tipo, ["1 ouro", "2 prata", "3 bronze"], :include_blank => true %></p>
			

			
			<%= f.submit "Adicionar" %>
		<% end %>
	</div>
</div>
