<div class="noticia_home" onclick="window.location = '<%= noticia_path(noticia_home) %>'">
	<div class="hora">
		<%= noticia_home.updated_at.strftime('%d/%m/%Y') %>
		<% if current_user.try(:admin) %>
			<%= link_to "editar", edit_noticia_path(noticia_home) %> |
			<%= link_to "apagar", noticia_path(noticia_home), :method => :delete %>
		<% end %>
	</div>
	
	<div class="titulo">
		<% if noticia_home.titulo.present? %>
			<%= link_to noticia_home.titulo, noticia_path(noticia_home) %>

		<% end %>	
	</div>
	
	<div class="corpo">
		<p><%= raw RedCloth.new(noticia_home.corpo).to_html %>
	</div>
	
	<div class="mais">
		<%= link_to "ver mais", noticia_path(noticia_home) %></p>
	</div>
</div>

