<div class="item">
	<div class="title">Nova Notícia</div>

	<div class="body">
		<%= form_for @noticia, :url => {:action => :create} do |f| %>
			<p><%= f.label :titulo, "Título" %><br />
			<%= f.text_field :titulo, :size => 60 %></p>
		
			<p><%= f.label :corpo %><br />
			<%= f.text_area :corpo, :size => '50x20' %></p>

			<p><%= f.label :secao %><br />
			<%= f.select :secao, secoes %></p>
						
			<%= f.submit "Publicar" %>
		<% end %>
	</div>
</div>