<div class="item">
	<div class="title">
		<% if @noticia.titulo.present? %>
			<%= @noticia.titulo %>
		<% end %>	
	</div>
			
	<div class="body">
		<div class="hora">
			<%= @noticia.updated_at.strftime('%d/%m/%Y') %>
			<% if current_user.try(:admin) %>
				<%= link_to "editar", edit_noticia_path(@noticia) %> |
				<%= link_to "apagar", noticia_path(@noticia), :method => :delete %>
			<% end %>
		</div>
		
			<%= raw RedCloth.new(@noticia.corpo).to_html %>
	</div>
	
</div>