body { background: rgb(106,128,160) url('/images/back5 copy.png') repeat 0 0; margin: 0; padding: 5px;}

img { border-style: none;}
.patrocinador img { border: 1px solid #f0f0f0; border-style: none; margin-bottom: 30px; }
#content { width: 1000px; margin: auto; 
            background: rgb(251,251,255) url('/images/backg.png') repeat 0 0;
            -moz-border-radius: 15px; border-radius: 15px; }
            
.page_item { background-color: #FFFFFF; }
.note { color: rgb(101,150,180); line-height: 150%; font-weight: bold; font-size: 100%; border: 1px dotted #eeeeee; padding: 10px; margin-bottom: 10px;}

/*HEADER*/
#banner { width: 787px; margin: auto; margin-bottom: 0px;}

#nav { 
    -moz-box-shadow::inset 1px 2px 6px #fff;
    -webkit-box-shadow:inset 1px 2px 6px #fff;
    box-shadow:inset 1px 2px 6px #fff;
    
    background: #f0f0f0 url('/images/header-bg5.png') repeat 0 0; 
    height: 33px;
    margin-bottom: 7px;    
}
    
#nav ul { 
    width: 950px; margin: 0 auto 0 auto; 
    font-size: 12px;
}

	#nav ul li
	{	margin: 5px 14px; list-style-type: none; display: inline-block; 
		padding: 6px 12px; }
	
	#nav ul li:hover a { color: rgb(101,184,236);}
	
	#nav ul li a
	{ white-space: nowrap; font-size: 110%; 
		color: white; text-decoration: none; }
		
		
		#nav ul li ul
		{	margin: 8px 0 0 -50px;
			padding: 9px;
			padding-bottom: 10px;
			position: absolute;
			visibility: hidden;
		}
		
		#nav ul li ul li:hover
		{	background: #e0e0e0;
		}
				
		#nav ul li ul li a
		{	width: auto;
			color: white; }
					
			#nav ul li ul li
			{	float: none;
				padding: 5px;
				background-color: white;
				display: block;
				margin-bottom: 0;
				margin-top: 0;
				font-size: 12px;
				text-align: center;
				border: 1px solid #e0e0e0;}
				
				#nav ul li ul li:hover {
				    border: 1px solid #e0e0e0;
				}
				


/*MAIN*/
#left-bar { margin-top: 0px; 
    float:left; width: 16%; padding: 8px; padding-left: 12px; text-align: center; }
    
#left-bar .item .login { margin-bottom: 25px;  padding: 3px; list-style-type: none; 
                        background: white;
                        -moz-border-radius: 5px; border-radius: 5px; }
                        
                        #left-bar .item .login img { width: 140px;}
                        
#left-bar .item .login h4 { padding: 5px 5px 5px 15px; letter-spacing: 2px; color: #303030;}
#left-bar .item .login h5 { padding: 5px 5px 5px 15px; letter-spacing: 2px; color: #303030;}
#left-bar .item .login a { margin-bottom: 10px; padding: 5px; line-height: 1.5em; }
#left-bar .item .login li { color: rgb(210,210,230); text-align: center; padding: 8px 0px 8px 0px; 
                        border: 1px solid rgb(249,249,249); margin-bottom: 3px;
                        background: rgb(251,251,251); -moz-border-radius: 3px; border-radius: 3px}
#left-bar .item .corpo { margin-bottom: 6px;}

#main { width: 100%; padding-left: 2px; background: rgb(251,251,255) url('/images/backg.png') repeat 0 0; }

#section { margin: 10px 5px; width: 58%; padding: 0px 10px; float: left;} 
#section .item { padding-top: 0px; }
#section .item .principal { 
            margin-bottom: 8px;
            text-align: justify; 
            -moz-border-radius: 20px 20px 0 0; border-radius: 20px 20px 0 0;}
#section .item .principal p { line-height: 150%; font-size: 16px; color: rgb(70,70,70); margin: 0;}
#section .item .title { width: 95%; font-weight: bold; color: rgb(45,45,45); 
										font-padding: 5px; margin: 5px auto 10px auto; 
										margin: 10px 10px 10px 0px; font-size: 180%; text-decoration: none; }
#section .item .body { background-color: rgb(253,253,253); margin-bottom: 30px; border: 1px solid #f3f3f3; border-right: 2px solid #f3f3f3; 
                    border-bottom: 2px solid #f3f3f3; padding: 15px;             -moz-border-radius: 10px; border-radius: 10px;}
                    
#section .item .body img { width: 500px;}
#section .item .body_photo { background-color: rgb(45,45,45); margin-left: 10px; margin-bottom: 30px; border: 1px solid #f3f3f3; border-right: 2px solid #f3f3f3; 
                    border-bottom: 2px solid #f3f3f3; padding: 15px;   -moz-border-radius: 10px; border-radius: 10px;}
#section .item .body_photo .titulo_body { color: white; font-size: 160%; padding: 10px; margin-bottom: 10px; font-weight: bold;}                    
#section .item .body p { line-height: 200%; color: rgb(60,60,60);}
#section .item .body .hora { color: #b0b0b0; font-size: 90%; }


#section .item .middle { 
    -moz-border-radius: 5px; border-radius: 5px; text-align: center; 
    background-color: white;margin: 0 0 10px 0; padding: 15px; }
                    
#section .item .middle img { margin: 0 30px;
    -moz-border-radius: 5px; border-radius: 5px; border: 1px solid rgb(253,253,253); padding: 8px; background: white;}

.titulo_imagem { border-bottom: 1px solid #e0e0e0; padding-bottom: 5px; text-decoration: none; font-weight: bold; font-size: 120%; color: #707070;}
.imagem { padding: 10px; float: left; margin-bottom: 5px;}

.user_item { margin-bottom: 10px; }
#left-bar .titulo { color: rgb(61,143,196); font-weight: bold; padding: 5px; margin-bottom: 10px; }
#left-bar .corpo { padding: 3px; }


/*SIDEBAR*/
#right-bar { width: 18%; float: left; border-top: none; padding: 10px;}
#right-bar h5 { letter-spacing: 1.5px; color: #404040; font-weight: bold; padding: 15px 5px 8px 5px; 
                margin: auto; margin-bottom: 10px; width: 80%;}
#right-bar img { -moz-border-radius: 5px; border-radius: 5px; width: 140px; border: 1px solid rgb(253,253,253); padding: 8px; background: white;}
#right-bar .item {  margin-bottom: 20px; text-align: center;  background: white;
									-moz-border-radius: 5px; border-radius: 5px;}
#right-bar .titulo { font-weight: bold; padding: 15px 5px 15px 5px; width: 80%; margin: 0 auto 10px auto; color: black;}
#right-bar .corpo { padding: 3px; }

/*LOGIN*/
#login-item { list-style-type: none; }
#login-item a { list-style-type: none; color: #293033; }

/*FOOTER*/
#footer { color: white; margin: auto; width: 1000px; text-align: right;}
#footer a { color: white; }

/*NOTICIA*/
.noticia_home { background: white; cursor: pointer; margin: 10px; -moz-border-radius: 5px; border-radius: 5px; 
								text-align: justify; padding: 10px; width: 42%; float: left; 
								border: 1px solid white; overflow: hidden; height: 300px;
                            }
.noticia_home:hover { background: white;
    border: 1px solid #f0f0f0;
    -moz-box-shadow: 1px 2px 6px #ccc;
    -webkit-box-shadow: 1px 2px 6px #ccc;
    box-shadow: 1px 2px 6px #ccc;
    }							
.noticia_home .titulo a { color: #707070; font-weight: bold; 
										font-padding: 5px; margin: 5px auto 10px auto; line-height: 1.5em; 
										margin: 10px 10px 10px 30px; font-size: 130%; }
.noticia_home .hora { margin-left: 30px; color: #707070; font-weight: bold; font-size: 90%;}
.noticia_home .corpo { padding: 5px;  width: 95%; margin: auto; height: 200px; line-height: 1.5em;}
.noticia_home .corpo p { line-height: 130%; font-size: 15px; color: #909090;}
.noticia_home .mais { text-align: center; height: 10px;}
.noticia_home:hover .mais a { text-decoration: underline;}

.noticia .titulo { width: 95%; font-weight: bold; color: rgb(45,45,45); 
										font-padding: 5px; margin: 5px auto 10px auto; 
										margin: 10px 10px 10px 30px; font-size: 180%; text-decoration: none;}
.noticia .hora { margin-left: 30px; color: #b0b0b0; font-style: italic; font-size: 90%;}
.noticia .corpo { padding: 5px; font-size: 100%; width: 95%; margin: auto;}


table.dados_usuario { background-color: rgb(253,253,253); width: 100%;}
table.dados_usuario tr td { padding: 7px; }
table.dados_usuario tr td.left { text-align: right; width: 30%;}
.situacao { font-weight: bold; color: #CC0033;}

.historico { width: 80%; color: #a0a0a0; margin: auto; padding: 10px;}
.historico h4 { color: rgb(45,45,45);}
.formas_pagamento { padding: 10px; }
.formas_pagamento .item { border-bottom: 1px dotted #e0e0e0; padding-bottom: 10px;}
table.total { width: 100%; border-bottom: 1px solid #e0e0e0;}
table.total .nome { text-align: left;}
table.total .preco { text-align: right; font-weight: bold;}

table.pagamento { width: 80%; margin: auto; margin-top: 20px;}
/* GENERAL */
.clear { clear: both; }
.center { text-align: center;}


body, p, ol, ul, td {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:   13px;    
    line-height: 11px;
/*    font-weight: 300;*/
}


a {
    color: rgb(21,103,156); text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



h1, h2, h3 { padding: 0; margin: 0.5em;/* font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; */}
h4, h5, h6 { padding: 0; margin: 3px; /*font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; */}

label { color: #505050; }
input[type="email"] { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    color: rgb(45,45,4); font-size: 100%; padding: 5px;  
    width: 100px;
    -moz-border-radius: 7px; border-radius: 7px; border: 1px solid #e3e3e3;
    background: white url('/images/main-bg.gif') repeat 0 0;    
}

input[type="text"] { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    color: rgb(45,45,4); font-size: 100%; padding: 5px;  
    -moz-border-radius: 7px; border-radius: 7px; border: 1px solid #e3e3e3;
    background: white url('/images/main-bg.gif') repeat 0 0;
}

input[type="password"] { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    color: rgb(45,45,4); font-size: 100%; padding: 5px;  
    width: 100px;
    -moz-border-radius: 7px; border-radius: 7px; border: 1px solid #e3e3e3;
    background: white url('/images/main-bg.gif') repeat 0 0;
}
textarea { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    -moz-border-radius: 7px; border-radius: 7px; border: 1px solid #e3e3e3; 
    background: white url('/images/main-bg.gif') repeat 0 0;
}


#bottom div {
    margin-top: 0px; text-align: center; margin-left: 15px; float: left; background: white;
    margin-bottom: 0px; margin-bottom: 15px;
    padding: 15px 15px 15px 15px;  height: 350px;
    -moz-border-radius: 10px; border-radius: 10px; }
    

    
#realizacao {
    width: 300px;
}

#realizacao img {
    margin-top: 40px;
    -moz-border-radius: 5px; border-radius: 5px; padding: 8px; background: white;    
}

#apoio {
    width: 590px;
}

#apoio img {
    -moz-border-radius: 5px; border-radius: 5px;  padding: 8px; background: white;    
    margin: 10px;
    width: 140px;
}



#bottom div h3 { margin-top: 0; padding-bottom: 5px; border-bottom: 3px solid rgb(245,245,245); color: rgb(100,100,100);}


				
			
.vermelho { color: rgb(200,100,100); }
.azul { color: rgb(61,143,196); }
.cinza { color: rgb(180,180,180); }
.amarelo { color: yellow; }

div#twitter {
	width: 98%;
	margin-top: 15px;
	margin-bottom: 2em;
	border: 1px solid #e0e0e0;
}

div#twitter h2 {
	margin: 0;
	padding: 0.4em 1em;
	font-size: 1.1em;
	color: #fff;
	background-color: #999;
}

p#preloader {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url("/images/loader.gif") 1em center no-repeat;
	/* generate your own loader gif: http://www.ajaxload.info */
}

ul#twitter_update_list {
	margin: 0;
	padding: 0 1em 0.5em 1em;
	list-style-type: none;
}

ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;
}

ul#twitter_update_list li a {
	/* timestamp link */
	color: #f00;
}

ul#twitter_update_list li span {
	display: block;
}

ul#twitter_update_list li span a {
	/* links in tweet */
	color: #00f;
}

ul#twitter_update_list li.firstTweet {
}

ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

a#profileLink {
	display: block;
	padding: 0.3em 1em;
	color: #fff;
	background-color: #888;
}

.pagination li {
    font-size: 0;
    float: left;
    list-style: none;
}

.next, .prev {
	position:relative;
	margin-left: 140px;
	float: left;
	width:21px;
	height:0;
	padding-top:21px;
    overflow:hidden;
	display:block;
	z-index:101;

}

.next { 
    background-image: url('/images/arrow-next.png');
}

.prev {
    background-image: url('/images/arrow-prev.png');
}


.form_item label {
    color: #606060;
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  letter-spacing: 1.5px;
  font-size: 0.9em;
}

.form_item {
    margin-bottom: 20px; padding: 10px; background-color: white;
	border: 1px solid #f3f3f3; 
    -moz-border-radius: 10px; border-radius: 10px;
}

.form_item h3 {
    color: rgb(90,90,90);
    margin: auto;
}

.form_item p { 
    padding: 5px;
}

.form_item li {
    letter-spacing: 1px;
    margin: 5px 15px;
}

.form_item div.input {
  margin-bottom: 10px;
}



.form_item div.boolean, .form_item input[type='submit'] {
  margin-left: 120px;
}

.form_item div.boolean label, .form_item label.collection_radio {
  float: none;
  margin: 0;
}

.form_item label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.form_item .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.form_item .body .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#curso { 
    position: absolute;
    left: 910px;
    top: 10px;
    color: white;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 3px;
    }
    
    #facebook {margin: 0px 0px 20px 0px; text-align: center; border: 1px solid #f3f3f3;
                padding-top: 15px; padding-bottom: 15px;
                -moz-border-radius: 5px; border-radius: 5px;}
    .fb { 
        margin-bottom: 10px; padding: 15px 5px 0px 0px; list-style-type: none; 
        background-color: white; -moz-border-radius: 5px; border-radius: 5px;
    }

fieldset { padding: 20px 0; border: none; background: white; border: 10px solid white; border-top: 10px solid #f8f8f8;border-bottom: 10px solid #f8f8f8; margin: 0;}
fieldset legend { color: #404040; font-weight: bold; font-size: 18px; }
.p-login { text-align: left; }
p.instituicao { border-top: 2px solid #e0e0e0; padding-top: 20px; font-weight: bold;}

hr { color: #e0e0e0;}
#main .item .body table { width: 1000px;}
#main .item .body table th { width: 200px; }
#main .item .body table th.medium { padding: 3px 100px; }
#main .item .body table th.large { padding: 3px 160px; }
#main .item .body table td { padding: 10px 0;margin: 0; border: 1px solid #f0f0f0; height: 10px;}
#main .item .body table tr:hover { cursor: pointer; background: #f0f0f0;}


title { background: black;}

#error_explanation { color: rgb(200,100,100); }
#error_explanation li { margin: 4px;}

.excel { width: 100px; text-align: center; }
.excel:hover { background: rgb(100,100,100); }
.excel a { font-weight: bold; text-decoration: underline;}
.excel a:hover { color: rgb(120,150,180);}

.addthis_toolbox { background: white; padding: 15px 30px;}

.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}


.clearfix {display:inline;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}