body { background: black url('/images/back2.png') repeat-x 0 0; margin: 0; padding-top: 15px;}

.banner img { border-style: none;}
.patrocinador img { border-style: none; margin-bottom: 20px; }
#conteudo { width: 1000px; margin: auto; border-left: 4px solid rgb(45,45,45);
            background: rgb(251,251,255) url('/images/main-bg.gif') repeat 0 0;
            -moz-border-radius: 15px; border-radius: 15px; }
            
.page_item { background-color: #FFFFFF; }

/*.content { border: 1px solid gray; margin-bottom: 1px;}*/
/*HEADER*/
#banner_wrapper { margin-bottom: 10px; }
#banner_wrapper .banner { width: 787px; margin: auto; margin-bottom: 0px;}

.note { color: #CC0033; line-height: 150%; font-weight: bold; font-size: 100%; border: 3px dotted #eeeeee; padding: 10px; margin-bottom: 10px;}

/*MAIN*/
#section_wrapper { width: 1000px; padding-left: 10px; margin: auto;}
#social { height: 1000px; margin-top: 0px; 
    float:left; width: 20%; padding: 8px; text-align: center; 
    background: rgb(250,250,250) url('/images/main-bg.gif') repeat 0 0;}
    
#social .item .login { margin-bottom: 10px; padding: 0 5px 5px 5px; list-style-type: none; 
    background-color: white; border: 1px solid #f0f0f0; border-right: 3px solid #f3f3f3; 
                        border-bottom: 3px solid #f3f3f3;
                        -moz-border-radius: 20px; border-radius: 20px;}
#social .item .login h4 { padding: 15px 5px 15px 15px; }        
#social .item .login a { margin-bottom: 10px; padding: 5px; text-decoration: none; line-height: 1.5em; }
#social .item .login a:hover { background-color: white; text-decoration: underline;}
#social .item .corpo { margin-bottom: 6px;}
#main { margin: 0 30px; width: 90%; padding: 1.5px; padding-bottom: 80px; } 
#main .item { padding: 10px; }
#main .item .principal { border: 1px solid #e0e0e0; border-bottom: 2px solid #f0f0f0; text-align: center; border-right: 2px solid #f0f0f0;
            padding: 20px; background-color: white;}
#main .item .principal p { line-height: 150%; font-size: 110%; color: rgb(40,40,40); margin: 0;}
#main .item .title { width: 95%; font-weight: bold; color: rgb(45,45,45); 
										font-padding: 5px; margin: 5px auto 10px auto; 
										margin: 10px 10px 10px 0px; font-size: 180%; text-decoration: none; }
#main .item .body { background-color: white; margin-left: 10px; margin-bottom: 30px; border: 1px solid #f3f3f3; border-right: 2px solid #f3f3f3; 
                    border-bottom: 2px solid #f3f3f3; padding: 15px; }
#main .item .body p { line-height: 200%; }
#main .item .body .hora { color: #b0b0b0; font-size: 90%; }

.titulo_imagem { text-decoration: none; font-weight: bold; font-size: 120%; color: #a0a0a0;}
.imagem { padding: 10px; float: left; margin-bottom: 5px; }
.imagem img { width: 800px; }
.user_item { margin-bottom: 10px; }
#social .titulo { color: rgb(61,143,196); font-weight: bold; padding: 5px; margin-bottom: 10px; }
#social .corpo { padding: 3px; }

.slides_container {
    background-color: white;
  -moz-border-radius: 10px; border-radius: 10px;    
    margin-bottom: 15px;
    width:830px;
    list-style-type: none; 
}
.slides_container div {
  width:600px;
  height:480px;
  display:block;
  margin: 0 auto;
}

.pagination li {
    font-size: 0;
    float: left;
    list-style: none;
}

.next, .prev {
	position:relative;
	margin-left: 280px;
	float: left;
	width:21px;
	height:0;
	padding-top:21px;
    overflow:hidden;
	display:block;
	z-index:101;
}

.next { 
    background-image: url('/images/arrow-next.png');
}

.prev {
    background-image: url('/images/arrow-prev.png');
}
/*SIDEBAR*/
#sidebar { width: 20%; float: left; background: rgb(245,245,248) url('/images/main-bg.gif') repeat 0 0; border-top: none; padding: 10px;}
#sidebar .item { background: white; margin-bottom: 10px; text-align: center; 
									border: 1px solid #f0f0f0; border-right: 3px solid #f3f3f3; 
                                                        border-bottom: 3px solid #f3f3f3; 
                                                        -moz-border-radius: 5px; border-radius: 5px;}
#sidebar .titulo { color: rgb(21,103,156); font-weight: bold; padding: 5px; margin-bottom: 10px;}
#sidebar .corpo { padding: 3px;}

/*LOGIN*/
#login-item { list-style-type: none; }
#login-item a { list-style-type: none; text-decoration: none; color: #293033; }

/*FOOTER*/
#footer { color: white; margin: auto; font-size: 80%; width: 1000px; text-align: right;}
#footer a { color:white; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

/*NOTICIA*/
.noticia_home {cursor: pointer; margin-bottom: 20px; margin: 4px; -moz-border-radius: 5px; border-radius: 5px; 
								padding: 12px; width: 43%; float: left; }
.noticia_home:hover {  }							
.noticia_home .titulo a { font-weight: bold; color: black; 
										font-padding: 5px; margin: 5px auto 10px auto; line-height: 1.5em; 
										margin: 10px 10px 10px 30px; font-size: 130%; text-decoration: none;}
.noticia_home .titulo a:hover { text-decoration: underline; }										
.noticia_home .hora { margin-left: 30px; color: #a0a0a0; font-size: 90%;}
.noticia_home .corpo { padding: 5px; font-size: 100%; width: 95%; margin: auto; line-height: 1.5em;}
.noticia_home .corpo p { line-height: 130%;}
.noticia_home .corpo a { text-decoration: none;}
.noticia_home .corpo a:hover { text-decoration: underline;}

.noticia .titulo { width: 95%; font-weight: bold; color: rgb(45,45,45); 
										font-padding: 5px; margin: 5px auto 10px auto; 
										margin: 10px 10px 10px 30px; font-size: 180%; text-decoration: none;}
.noticia .titulo a:hover { text-decoration: underline; }										
.noticia .hora { margin-left: 30px; color: #b0b0b0; font-style: italic; font-size: 90%;}
.noticia .corpo { padding: 5px; font-size: 100%; width: 95%; margin: auto;}

table.dados_usuario { background-color: rgb(253,253,253);}
table.dados_usuario tr td { padding: 7px; }
.situacao { font-weight: bold; color: #CC0033;}

.formas_pagamento { padding: 10px; }
.formas_pagamento .item { border-bottom: 1px solid #e0e0e0;}
table.total { width: 100%; border-bottom: 1px solid #e0e0e0;}
table.total .nome { text-align: left;}
table.total .preco { text-align: right; font-weight: bold;}

table.pagamento { width: 80%; margin: auto; margin-top: 20px;}
/* GENERAL */
.clear { clear: both; }
.center { text-align: center;}

body, p, ol, ul, td {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size:   13px;
  line-height: 11px;
}

a {
    color: rgb(21,103,156);
}

h1, h2, h3 { padding: 0; margin: 0.5em; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; }
h4, h5, h6 { padding: 0; margin: 3px; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; }

label { color: #505050; }
textarea { color: black; font-size: 100%; }
#main input[type="email"] { font-weight: bold; color: rgb(45,45,4); font-size: 100%; padding: 5px;}
#main input[type="text"] { font-weight: bold; color: rgb(45,45,4); font-size: 100%; padding: 5px;}
#main input[type="password"] { font-weight: bold; color: rgb(45,45,4); font-size: 100%; padding: 5px;}

.form_item label {
	color: rgb(45,45,45);
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.form_item {
    margin-bottom: 20px; padding: 10px; background-color: white;
	border: 1px solid #f3f3f3; border-right: 4px solid #f3f3f3; 
                        border-bottom: 4px solid #f3f3f3;
}

.form_item p { 
    padding: 5px;
}

.form_item span { margin-left: 120px; font-style: italic; color: #707070;}

.form_item div.input {
  margin-bottom: 10px;
}



.form_item div.boolean, .form_item input[type='submit'] {
  margin-left: 120px;
}

.form_item div.boolean label, .form_item label.collection_radio {
  float: none;
  margin: 0;
}

.form_item label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.form_item .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.form_item .body .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

#nav
{ width: 890px; margin: 5px auto 5px auto; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;}

	#nav li
	{	margin: 0 18px; list-style-type: none; display: inline-block; 
		padding: 8px 10px; border-right: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-bottom: 2px solid white;}
		
	#nav li.home { border-bottom: none; border-right: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0;}

	#nav li:hover
	{ /*border-bottom: 2px solid rgb(102,198,236);*/border-bottom: 2px solid rgb(101,184,236); }
	
	#nav li:hover a { color: rgb(101,184,236);}
	
	#nav li a
	{ white-space: nowrap; font-size: 100%; font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
		color: rgb(70,70,70); font-weight: bold; text-decoration: none; font-weight: 900;}
		
		#nav li ul
		{	margin: 8px 0 0 -20px;
			padding: 9px;
			padding-bottom: 10px;
            /*background: #e0e0e0 url('/images/sub-nav-bg.gif') repeat 0 0;*/
			position: absolute;
			visibility: hidden;
		}
		
		#nav li ul li a
		{	width: auto;
			color: white; }
					
			#nav li ul li
			{	float: none;
				padding: 5px;
				background-color: white;
				display: block;
				text-align: center;
				border: 1px solid #e0e0e0;}
			
.vermelho { color: red; }
.azul { color: rgb(61,143,196); }
.cinza { color: gray; }
.amarelo { color: yellow; }

div#twitter {
	width: 98%;
	margin-top: 15px;
	margin-bottom: 2em;
	border: 1px solid #e0e0e0;
}

div#twitter h2 {
	margin: 0;
	padding: 0.4em 1em;
	font-size: 1.1em;
	color: #fff;
	background-color: #999;
}

p#preloader {
	margin: 0;
	padding: 1em 1em 1em 3em;
	background: transparent url("loader.gif") 1em center no-repeat;
	/* generate your own loader gif: http://www.ajaxload.info */
}

ul#twitter_update_list {
	margin: 0;
	padding: 0 1em 0.5em 1em;
	list-style-type: none;
}

ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;
}

ul#twitter_update_list li a {
	/* timestamp link */
	color: #f00;
}

ul#twitter_update_list li span {
	display: block;
}

ul#twitter_update_list li span a {
	/* links in tweet */
	color: #00f;
}

ul#twitter_update_list li.firstTweet {
}

ul#twitter_update_list li.lastTweet {
	border-bottom: none;
}

a#profileLink {
	display: block;
	padding: 0.3em 1em;
	color: #fff;
	background-color: #888;
}