<tr onclick="window.location = '<%= edit_user_path(user) %>'">
	<td><%= link_to "pagou", confirmar_user_path(user), :method => :post %></td>			
	<td><%= "#{@users.index(user) + 501}" %></td>
	<td><strong><%= user.nome %></strong></td>
	<td><%= user.cpf %></td>
	<td><%= user.email %></td>
	<td><%= user.telefone %></td>
	<td><%= user.tipo_da_inscricao %></td>						
	<td><%= user.instituicao %></td>
	<td><%= link_to "editar", edit_user_path(user) %></td>
</tr>
