<% if current_user.try(:admin) %>

	<%= form_for(@user, :action => "atualizar", :method => :post) do |f| %>				

	<div class="form_item">
		<h3>Inscrição</h3>	

		<div class="body">
			<p><%= f.label :tipo_inscricao, "Tipo de Inscrição" %><br />
			<%= f.select :tipo_inscricao, tipos_de_inscricao, :id => "mySelect" %></p>

			<p id="instituicao"><%= f.label :instituicao, "Instituição/ Universidade" %>
			<%= f.text_field :instituicao %><br /></p>

		</div>
	</div>


	<div class="form_item">
		<div class="title">
			<h3>Dados Pessoais</h3>	
		</div>

		<div class="body">
			<p><%= f.label :nome %><br />
			<%= f.text_field :nome %></p>

			<p><%= f.label :sexo %><br />
			<%= f.select :sexo, ["Masculino", "Feminino"], :include_blank => true %></p>

			<p><%= f.label :data_nascimento %><br />
			<%= f.date_select :data_nascimento, :start_year => 2000, :end_year => 1900, :include_blank => true,  
							:order => [:day, :month, :year], :use_month_numbers => true %></p>

			<p><%= f.label :cpf, "CPF" %>
			<%= f.text_field :cpf, :onkeypress => "formatar('###.###.###-##', this)", 
											:maxlength => "14", :size => '16' %></p>

			<p><%= f.label :logradouro %><br />
			<%= f.text_field :logradouro %></p>

			<p><%= f.label :bairro %><br />
			<%= f.text_field :bairro %></p>

			<p><%= f.label :cidade %><br />
			<%= f.text_field :cidade %></p>

			<p><%= f.label :estado, "Estado (UF)" %><br />
			<%= f.select :estado, estados, :include_blank => true %></p>


			<p><%= f.label :cep, "CEP" %>
			<%= f.text_field :cep, :onkeypress => "formatar('#####-###', this)",
			 							  :maxlength => "9", :size => "10"%></p>

			<p><%= f.label :telefone %>
			<%= f.text_field :telefone, :onkeypress => "formatar('## ####-####', this)", 
												 :maxlength => "12", :size => "13" %></p>
		</div>
	</div>


  <p><%= f.submit "Atualizar dados" %></p>		
	<% end %>
<% end %>