<div id="ficha_cadastral">
	<table>
		<tr class="logo">
			<td><%= image_tag('/images/EengeSmall.gif', :size => '160x50') %> <span><%= curso %></span></td>
			<td><span>Inscrição nº:</span> <%= current_user.numero_inscricao %></td>
		</tr>

				<tr class="space"></tr>

		<tr>
			<td class="subtitulo">Dados Pessoais</td>
		</tr>

				<tr class="space"></tr>

		<tr>
			<td><span>Nome:</span> <%= current_user.nome %></td>
			<td><span>Data de Nascimento:</span> <%= current_user.data_nascimento.strftime("%d/%m/%Y") %></td>
		</tr>
		
		<tr>
			<td><span>CPF:</span> <%= current_user.cpf %></td>
			<td><span>Sexo:</span> <%= current_user.sexo %></td>						
		</tr>

		<tr>

		</tr>

				<tr class="space"></tr>

		<tr>
			<td class="subtitulo">Endereço</td>
		</tr>

				<tr class="space"></tr>

		<tr>
			<td><%= "#{current_user.logradouro} - #{current_user.bairro} - #{current_user.cidade}/#{current_user.estado} #{current_user.cep}" %></td>
		</tr>

				<tr class="space"></tr>
	
		<tr>
			<td class="subtitulo">Tipo da Inscrição</td>
		</tr>

				<tr class="space"></tr>			

		<tr>
			<td><span><%= "#{current_user.tipo_da_inscricao} - #{current_user.instituicao}"%> </span></td>
		</tr>

				<tr class="space"></tr>

	</table>
</div>