<div class="item">
	<!-- <div class="body excel">
		<%= link_to "Arquivo Excel", "/users.xls" %>
	</div> -->
	
	<h3>Inscrições Pendentes</h3>
	<div class="body">
		<% if @users_pendentes %>
				
				<table class="user_item">
					<tr>
						<th></th>
						<th>N.</th>
						<th class="large">Nome</th>
						<th class="medium">CPF</th>
						<th class="medium">Email</th>
						<th class="medium">Telefone</th>
						<th class="medium">Tipo da Inscrição</th>
						<th class="medium">Instituição</th>
					</tr>
					
						<% @users_pendentes.each do |user| %>
						<tr onclick="window.location = '<%= edit_user_path(user) %>'">
						<td><%= link_to "pagou", confirmar_user_path(user), :method => :post %></td>			
						<td><%= "#{@users.index(user) + 501}" %></td>
						<td><strong><%= user.nome.gsub(/\.+/) {|word| word.capitalize} %></strong></td>
						<td><%= user.cpf %></td>
						<td><%= user.email %></td>
						<td><%= user.telefone %></td>
						<td><%= user.tipo_da_inscricao %></td>						
						<td><%= user.instituicao %></td>
						<td><%= link_to "editar", edit_user_path(user) %></td>
						</tr>
						<% end %>
				</table>
				
		<% end %>		
		<b>Pendentes:</b> <%= @users_pendentes.count %><br />
	</div>
	
	
	<h3>Confirmadas</h3>
	<div class="body">
		<% if @users_confirmados %>
				
				<table class="user_item">
					<tr>
						<th></th>
						<th>N.</th>
						<th class="large">Nome</th>
						<th class="medium">CPF</th>
						<th class="medium">Email</th>
						<th class="medium">Telefone</th>
						<th class="medium">Tipo da Inscrição</th>
						<th class="medium">Instituição</th>
					</tr>
					
						<% @users_confirmados.each do |user| %>
						<tr onclick="window.location = '<%= edit_user_path(user) %>'">
						<td><%= link_to "editar", edit_user_path(user) %></td>							
						<td><%= "#{@users.index(user) + 501}" %></td>
						<td><strong><%= user.nome.gsub(/\w+/) {|word| word.capitalize!} %></strong></td>
						<td><%= user.cpf %></td>
						<td><%= user.email %></td>
						<td><%= user.telefone %></td>						
						<td><%= user.tipo_da_inscricao %></td>						
						<td><%= user.instituicao %></td>

						<td><%= link_to "cancelar", desfazer_user_path(user), :method => :post, :confirm => "Deseja cancelar inscrição do usuário?" %></td>
						</tr>
						<% end %>
				</table>
				
		<% end %>		
		<b>Confirmados:</b> <%= @users_confirmados.count %><br /><br />
	</div>
	

</div>