<div class="item">
	<h3>Inscrição</h3>
	<div class="body">	
		<br />
		<div class="situacao"><%= current_user.status_inscricao %></div>
		<% if current_user.status_inscricao == "Confirmada" %><br />
			Imprima sua <%= link_to "ficha cadastral", ficha_cadastral_path %>
		<% end %>
		
	</div>

	<% if current_user.inscricao_pagavel? %>
	<h3>Dados</h3>
	<div class="body">
		<table class="dados_usuario">
			<tr>
				<td class="left"><strong>Nome:</strong></td> 
				<td> <%= current_user.nome %></td>
			</tr>
			
			<tr>
				<td class="left"><strong>Data Nascimento:</strong></td> 
				<td> <%= current_user.data_nascimento.strftime("%d/%m/%Y") %></td>
			</tr>
			
			<tr>
				<td class="left"><strong>CPF:</strong> </td> 
				<td><%= current_user.cpf %></td>		
			</tr>
			
			<tr>
				<td class="left"><strong>Inscrição nº:</strong></td> 
				<td><%= current_user.numero_inscricao %></td>				
			</tr>
			
			<tr>
				<td class="left"><strong>Tipo:</strong></td> 
				<% if current_user.estudante_uenf? %>
					<td> <%= "#{current_user.tipo_da_inscricao}" %></td>				
				<% else %>
					<td> <%= "#{current_user.tipo_da_inscricao} - #{current_user.instituicao}" %></td>
				<% end %>
			</tr>
			
			<tr>
				<td class="left"><strong>Tel.:</strong></td>
				<td><%= current_user.telefone %></td>
			</tr>
			
			<tr>
				<td class="left"><strong>Endereço:</strong></td> 
				<td><%= "#{current_user.logradouro} - #{current_user.bairro} - #{current_user.cidade}/#{current_user.estado} #{current_user.cep}" %></td>
			</tr>
			
			<tr>
				<td></td>
				<td><%= button_to "editar", edit_registration_path(current_user), :method => "get" %></td>
			</tr>

		</table>	
	</div>
	

	

		<h2>Pagar</h2>
		<div class="body">
			<table class="total">
				<tr>
					<td class="nome">Total:</td>
					<td class="preco">1 Inscrição <%= current_user.tipo_inscricao %> </td>
				</tr>
			</table>
			
			<div class="formas_pagamento">
				
				<div class="item">
				<p><strong>PagSeguro</strong>: Você protege seus dados financeiros (não informa os seus dados para o vendedor), o pagamento é seguro (você tem 14 dias para bloquear o pagamento) e paga como quiser (boleto ou tranferência eletrônica). Para isso você precisará fazer um breve cadastro no PagSeguro, caso não o tenha é possível fazê-lo na hora da compra.</p>

				<div class="center">
					<% if current_user.estudante_uenf? %>
						<form target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post">
						<input type="hidden" name="code" value="FBE8E17EEDED74DAA4CF6FA4FDA32455" />
						<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar-preto.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
						</form>
					<% elsif current_user.voluntario_pmi? %>
						<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
						<form target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post">
						<input type="hidden" name="code" value="CCD0D1F91010B3C77498BFA61B1FE20C" />
						<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar-preto.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
						</form>
						<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
					<% elsif current_user.estudante_externo? %>
						<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
						<form target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post">
						<input type="hidden" name="code" value="0D679438A9A995CDD45A1F81E977AFAE" />
						<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar-preto.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
						</form>
						<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
					<% elsif current_user.outros? %>
					 	<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
						<form target="pagseguro" action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post">
						<input type="hidden" name="code" value="82FF2C06BDBD145EE40C9FBAB35CD3E1" />
						<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar-preto.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
						</form>
						<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
					<% end %>
				</div>
								
				</div>
								
			</div>
		</div>
	<% end %>
</div>