<div class="item">
 <div class="title">Nova senha</div>

	<div class="body">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <p><%= f.label :password, "Nova senha" %><br />
		  <%= f.password_field :password %></p>

		  <p><%= f.label :password_confirmation, "Confirme a nova senha" %><br />
		  <%= f.password_field :password_confirmation %></p>

		  <p><%= f.submit "Change my password" %></p>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
	</div>
</div>