<div class="item">
	<div class="title">Esqueceu a senha?</div>
	
	<div class="body">
		<%= form_for(resource, :as => resource_name, 
						:url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <p><%= f.label :email %><br />
		  <%= f.email_field :email %></p>

		  <p><%= f.submit "Enviar E-mail" %></p>
		<% end %>

		<%= render :partial => "devise/shared/links" %>		
	</div>
</div>


