<div class="item">
	<h5>PATROCINADORES</h5>

	<div class="corpo">
		<% @patrocinadores.each do |patrocinador| %>
			<%= link_to image_tag(patrocinador.link_imagem), patrocinador.site, :class => "patrocinador", :title => "#{patrocinador.site}" %><br />
			<% if @user.try(:admin) %>
				<%= link_to "remover", patrocinador_path(patrocinador), :method => :delete %>
			<% end %>
		<% end %>
	</div>
</div>

<% if @apoio.present? %>
	<div class="item">
		<h5>APOIO</h5>

		<div class="corpo">
			<% @apoio.each do |patrocinador| %>
				<%= link_to image_tag(patrocinador.link_imagem), patrocinador.site, :class => "patrocinador" %><br />
				<% if @user.try(:admin) %>
					<%= link_to "remover", patrocinador_path(patrocinador), :method => :delete %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>