<div class="item">
	<div class="title"><small>12º EENGE</small> <span class="azul"><%= @titulo %></span></div>
	
	<div class="body">
		
				
		<% if @noticia %>
			<%= raw RedCloth.new(@noticia.corpo).to_html %>
			<% if current_user.try(:admin) %>			
			  <%= link_to "Editar informações", edit_noticia_path(@noticia) %>
			<% end %>
		<% else %>
			<% if current_user.try(:admin) %>
			  <%= link_to "Inserir informações", new_noticia_path(:secao => @secao) %>
			<% end %>
		<% end %>
		
		
	</div>
	

</div>