<div class="item">
	<div class="body">
			<h3>Pedido efetuado com sucesso!</h3>
			
 		<p>Sua inscrição estará completa assim que verificarmos a confirmação do seu pagamento junto ao <strong>PagSeguro</strong>. Acompanhe o andamento da sua inscrição <%= link_to "aqui", usuario_path %>.</p>
		<strong>Bom Evento!</strong>
	</div>
</div>