<div class="item">

	<div class="principal">
		<% if @noticia_principal.present? %>
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_preferred_1"></a>
			<a class="addthis_button_preferred_2"></a>
			<a class="addthis_button_preferred_3"></a>
			<a class="addthis_button_preferred_4"></a>
			<a class="addthis_button_compact"></a>
			<a class="addthis_counter addthis_bubble_style"></a>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ea5f86c1a1b04d9"></script>
			<br />
		<!-- AddThis Button END -->
		
			<%= raw RedCloth.new(@noticia_principal.corpo).to_html %>
			<% if current_user.try(:admin) %>
				<%= link_to "editar", edit_noticia_path(@noticia_principal) %>
			<% end %>
		<% end %>
	</div>

	<div class="middle">
		<%= link_to image_tag('/images/logo-leprod.jpg'), 'http://www.uenf.br/Uenf/Pages/CCT/Leprod/'%>
		
		<%= link_to image_tag('/images/logo-uenf.jpg'), 'http://www.uenf.br' %>
		
		<%= link_to image_tag('/images/logo-pmi.jpg'), 'http://www.pmirio.org.br/' %>
	</div>
	
	<br />
	<fieldset>
		<legend>Últimas Notícias</legend>
		<%= render :partial => 'noticias/noticia_home', 
						:collection => @noticias.map {|n| n.corpo = "#{n.corpo[0..250]}. . ."; n} %>
		
	</fieldset>
</div>

