<div class="item">
	<div class="title">
		Formas de Pagamento
	</div>
	
	<div class="body">
		<p><strong>PagSeguro</strong>: Para a sua segurança e conforto, contamos com o PagSeguro como forma de pagamento. Com ele você protege seus dados financeiros (não informa os seus dados para o vendedor), o pagamento é seguro (você tem 14 dias para bloquear o pagamento) e paga como quiser (boleto ou tranferência eletrônica). Para isso você precisará fazer um breve cadastro no PagSeguro, caso não o tenha é possível fazê-lo na hora da compra.</p>
		
		<div class="center">
			<%= pagseguro_form @pedido, :submit => "Pagar com PagSeguro", :email => current_user.email %>
		</div>
	</div>	
</div>

<div class="item">
	<div class="body">
		<p><strong>""OUTRAS FORMAS DE PAGAMENTO""</strong></p>
	</div>
</div>
