<div class="item">
	<div class="title">Login</div>
	
	<div class="body">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <p><%= f.label :email %><br />
		  <%= f.email_field :email %></p>

		  <p><%= f.label :password, "senha" %><br />
		  <%= f.password_field :password %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "lembrar-me" %></p>
		  <% end -%>

		  <p><%= f.submit "Login" %></p>
		<% end %>

		<%= render :partial => "devise/shared/links" %>		
	</div>
</div>

