<div class="form_item">
	<div class="body">
		<%= form_for @foto, :html => {:multipart => true} do |f| %>				
			<p><%= f.label :pic, "Imagem" %><br />
				<%= f.file_field :pic %></p>
				
			<p><%= f.label :album_de_foto_id, "Album" %>
				<%= f.select :album_de_foto_id, AlbumDeFoto.all.map {|f| [f.nome, f.id] }, :include_blank => true %></p>
				
  	    	<%= f.submit "Adicionar" %>
		<% end %>
	</div>
</div>

