<p id="notice"><%= notice %></p>
<%= link_to '< fotos', album_de_fotos_path %>

<div class="item">
	<div class="body_photo">
				<div class="titulo_body center">Álbum <%= @album.nome %></div>		

		<% if @fotos.length > 1 %>		
		<div class="slides">
			<div class="slides_container">
				

					<% @fotos.each do |foto| %>
						<div class="imagem">
							<%= image_tag(foto.pic.url)  %>						
						</div>					
					<% end %>
			</div>
		</div>
		
		<% else %>
			<% @fotos.each do |foto| %>
				<div class="center">
					<%= image_tag(foto.pic.url, :size => '640x480')  %>						
				</div>					
			<% end %>
		<% end %>
			
			<br />
			<br />
							
	</div>
</div>




<% content_for :script do %>
	<script>	
		$(function() {
			$(".slides").slides({
				preload: true,
				preloadImage: '/images/loading.gif',
				generateNextPrev: true,
				hoverPause: true,
				bigTarget: true,
				autoHeight: true
			});
		});
	</script>
<% end %>