<div id="banner"><%= link_to banner, root_path %></div>

<div id="nav">
	<ul>	
		<li class="home">
			<%= link_to "HOME", root_path %>
		</li>
		
		<% if current_user.try(:admin) %>
			<li><%= link_to "INSCRIÇÃO", '#' %></li>
		<% elsif user_signed_in? %>
			<li><%= link_to "INSCRIÇÃO", usuario_path %></li>		
		<% else %>
			<li><%= link_to "INSCRIÇÃO", new_user_registration_path %></li>  
		<% end %>			

		<li>
			<%= link_to "O EENGE", sobre_path %>
		</li>

		<li>
			<%= link_to "CONGRESSO PMI RIO", congresso_pmi_path %>
		</li>
		
		<li>
			<%= link_to "PROGRAMAÇÃO", '#' %>
			<ul>
				<li><%= link_to "Cronograma", cronograma_path %></li>
				<li><%= link_to "Minicursos", minicursos_path %></li>
				<li><%= link_to "Visitas Técnicas", visitas_tecnicas_path %></li>
				<li><%= link_to "Coquetel", coquetel_path %></li>
			</ul>
		</li>
		
		<li>
			<%= link_to "LOCALIZAÇÃO", como_chegar_path %>
			<ul>
				<li><%= link_to "Como Chegar", como_chegar_path %></li>
				<li><%= link_to "Onde Ficar", aonde_ficar_path %></li>
			</ul>
		</li>			
		<li><%= link_to "CONTATO", new_contato_path %>
	</ul>
</div>
