<div id="realizacao">
	<h3>Realização</h3>
	
	<%= image_tag('/images/logo-comissao.jpg')%>
</div>

<div id="apoio">
	<h3>Apoio</h3>
	
		<%= link_to image_tag('/images/logo-uenf2.jpg'), 'http://www.uenf.br/'%>

		<%= link_to image_tag('/images/logo-faperj.jpg'), 'http://www.faperj.br/' %>

		<%= link_to image_tag('/images/logo-iff.gif'), 'http://www.iff.edu.br/' %>
		
		<%= link_to image_tag("/images/logo-IEG.jpg"), 'http://www.institutodegestao.com.br/' %>
		
		<%= link_to image_tag("/images/logo-mpm2.jpg"), 'http://www.mundopm.com.br/' %>

		<%= link_to image_tag("/images/logo-ururau.jpg", :size => '30x90'), 'http://www.ururau.com.br/' %>	

		<%= link_to image_tag("/images/logo-blow.jpg"), 'http://blowcosmeticos.com/' %>				
				
		<%= link_to image_tag("/images/logo-ternium.gif"), 'http://www.terniumbrasil.com/' %>		
</div>