<div class="item">
	<div class="login">
		<% if user_signed_in? %>
			<% if current_user.try(:admin) %>
				<li><strong><%= link_to "Gerenciar Inscritos", users_path %></strong></li>			
				<li><%= link_to "Nova Notícia", new_noticia_path %></li>
				<li><%= link_to "Novo Patrocinador", new_patrocinador_path %></li>
				<li><%= link_to "Editar data Inscrição", new_inscricao_path %></li>
				<li><%= link_to "Editar Minicursos", minicursos_path %>
				<li><%= link_to "Editar Email/Senha", edit_registration_path(current_user) %></li> <br />				
				<li><%= button_to "Sair", destroy_user_session_path, :method => "get" %></li>
			<% else %>
				<h5>Olá, <%= current_user.primeiro_nome %>!</h5>
				<li><%= link_to "Ver Inscrição", usuario_path %></li>
				<li><%= link_to "Editar Dados", edit_registration_path(current_user) %></li> <br />				
				<%= button_to "Sair", destroy_user_session_path, :method => "get" %>
			<% end %>
		<% else %>
			<h5>LOGIN</h5>
			<%= form_for("user", :url => user_session_path) do |f| %>
			  <p><%= f.label :email, "email" %><br />
			  <%= f.email_field :email, :size => 15 %></p>


				<!--[if IE]>
				  <p><%= f.label :password, "senha" %><br />
				  <%= f.password_field :password, :size => 16 %></p>
				<![endif]-->
				
				<!--[if !IE]><!-->
				<p><%= f.label :password, "senha" %><br />
			  <%= f.password_field :password, :size => 15 %></p>
				<!--<![endif]-->

			  <%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar" %>
			
			  <p><%= f.submit "Login" %></p>
				<%= link_to "Esqueceu a senha?", new_password_path("user") %> <br /><br />
				<div class="button"><%= link_to "Faça sua inscrição", new_user_registration_path, :method => :get %></div>
			<% end %>
		<% end %>
	</div>
	
	<div class="login">
		<h5>PROGRAMAÇÃO</h5>
		<%= link_to image_tag("http://img511.imageshack.us/img511/1752/cronograma.png"), "http://img511.imageshack.us/img511/1752/cronograma.png" %>
	</div>
	
	<div class="fb">
		<%= link_to image_tag('/images/facebook.png', :size => '30x30'), 
					'https://www.facebook.com/profile.php?id=100002388831542', :class => "patrocinador" %>
		<%= link_to image_tag('/images/twitter.png', :size => '30x30'), 
					'http://twitter.com/12eengeproducao', :class => "patrocinador" %>
		<%= link_to image_tag('/images/orkut.jpg', :size => '30x30'),
					'http://www.orkut.com.br/Main#Profile?uid=14833616517075484044', :class => "patrocinador" %>				
	</div>

</div>
