<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.twitter' %>
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>	
  <%= csrf_meta_tag %>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
		#ficha_cadastral { 			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
		 width: 800px; 
		                   border: 1px solid black ; margin: 0 20px; padding: 15px;}
		#ficha_cadastral table tr { width: 50%;}
		#ficha_cadastral table tr.space { height: 15px; }
		#ficha_cadastral table tr span { font-weight: bold; }
		#ficha_cadastral table tr td { width: 50%;}
		#ficha_cadastral table tr td.space { height: 15px; }
		#ficha_cadastral table tr td.subtitulo { border: 1px solid #a0a0a0; font-weight: bold; font-size: 110%; }
	</style>
</head>

<body>

	<%= yield %>
	
	<%= debug(params) if Rails.env.development? %>

</body>
</html>
