<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.twitter' %>
  <%= javascript_include_tag 'slides.min.jquery' %>

	<script src="http://widgets.twimg.com/j/2/widget.js"></script>	
  <%= csrf_meta_tag %>
	<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
		var timeout         = 500;
		var closetimer		= 0;
		var ddmenuitem      = 0;

		function jsddm_open()
		{	jsddm_canceltimer();
			jsddm_close();
			ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

		function jsddm_close()
		{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

		function jsddm_timer()
		{	closetimer = window.setTimeout(jsddm_close, timeout);}

		function jsddm_canceltimer()
		{	if(closetimer)
			{	window.clearTimeout(closetimer);
				closetimer = null;}}

		$(document).ready(function()
		{	
			$('#nav > li').bind('mouseover', jsddm_open);
			$('#nav > li').bind('mouseout',  jsddm_timer);
			
			
			
		    $("#twitter").getTwitter({
		        userName: "Zangrandii",
		        numTweets: 8,
		        loaderText: "Carregando tweets...",
		        slideIn: true,
		        showHeading: true,
		        headingText: "Tweets",
		        showProfileLink: true
		    });
		});

	</script>
 <%= yield :script %>
</head>

<body>

	<div id="conteudo">
		<%= render 'layouts/header' %>
		
		<div id="section_wrapper">
			<div id="main">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "note") %>
				<% end %>	
			<!-- <p class="notice"><%= notice %></p>
		   <p class="alert"><%= alert %></p> -->
				<%= yield %>
			</div>
			
		</div>

		

	</div>
		<%= render 'layouts/footer'%>	
	<%= debug(params) if Rails.env.development? %>

</body>
</html>
