<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'custom' %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery.corner' %>
  <%= javascript_include_tag 'slides.min.jquery' %>
  <%= csrf_meta_tag %>

	<style>
		#main { width: 78%; }
		#main .item .body { overflow: scroll; }
	</style>
	<script type="text/javascript">
		var timeout         = 500;
		var closetimer		= 0;
		var ddmenuitem      = 0;

		function jsddm_open()
		{	jsddm_canceltimer();
			jsddm_close();
			ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

		function jsddm_close()
		{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

		function jsddm_timer()
		{	closetimer = window.setTimeout(jsddm_close, timeout);}

		function jsddm_canceltimer()
		{	if(closetimer)
			{	window.clearTimeout(closetimer);
				closetimer = null;}}

		$(document).ready(function()
		{	
			$('#nav > li').bind('mouseover', jsddm_open);
			$('#nav > li').bind('mouseout',  jsddm_timer);
		
		});

	</script>
	
 <%= yield :script %>
</head>

<body>
	<div class="conteudo">		
		<%= render 'layouts/header' %>		
		<div id="section_wrapper">
			<div id="social">
				<%= render 'layouts/social' %>
			</div>
			<div id="main">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "note") if value.length > 0 %>
				<% end %>	
			<!-- <p class="notice"><%= notice %></p>
		   <p class="alert"><%= alert %></p> -->
				<%= yield %>
				<div class="facebook">
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) {return;}
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-like" data-href="http://www.eenge.com.br/producao" data-send="false" data-width="500" data-show-faces="true" data-colorscheme="light"></div>
				</div>
			</div>
			
					
		</div>

		<!-- <div id="curso">Engenharia de Produção UENF</div> -->
		
		<%= render 'layouts/main-footer'%>

		
		
	</div>
	
		<%= render 'layouts/footer'%>	
	<%= debug(params) if Rails.env.development? %>

</body>
</html>